<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('./partial/person.html').default %>
    <hello-world></hello-world>

    <div class="uk-container">
      <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-2" style="padding: 16px;">
          <div class="box" style="height: 300px;">
            <h2 class="box-header">Microsoft Fluent UI</h2>
            <fluent-breadcrumb>
              <fluent-breadcrumb-item>Home</fluent-breadcrumb-item>
              <fluent-breadcrumb-item>Next Level Down</fluent-breadcrumb-item>
              <fluent-breadcrumb-item>Current Location</fluent-breadcrumb-item>
            </fluent-breadcrumb>
            
            <div style="margin: 16px 8px 16px 8px;">
              <fluent-checkbox>Did you check this?</fluent-checkbox><br />
              <fluent-checkbox checked disabled>Is this disabled?</fluent-checkbox><br />
              <fluent-checkbox checked>Checked by default?</fluent-checkbox>
            </div>            

            <a target="_blank" href="https://web-components.fluentui.dev/?path=/docs/components-button-button--docs">
              <fluent-button appearance="accent">Learn more</fluent-button>
            </a>
          </div>
        </div>      
    
        <div class="uk-width-1-2" style="padding: 16px;">
          <div class="box" style="height: 300px;">
            <h2 class="box-header">Counter example</h2>
            <counter-context>
              <counter-display style="display: block; margin-bottom: 16px;"></counter-display>
              <counter-up>Up</counter-up>
              <counter-down>Down</counter-down>        
            </counter-context>
            <div style="height: 32px;"></div>
            <counter-context>
              <counter-display style="display: block; margin-bottom: 16px;"></counter-display>
              <counter-up>Up</counter-up>
              <counter-down>Down</counter-down>        
            </counter-context>
          </div>
        </div>      

        <div class="uk-width-1-1" style="padding: 16px;">
          <div class="box">
            <people-context>
              <people-list></people-list>
            </people-context>
          </div>
        </div>
      </div>
    </div>   
  </body>
</html>